ansible/roles/os-hardening
ansible/roles/ssh-hardening
ansible/roles/iptables
ansible/roles/grub-cmdline
ansible/roles/audit-hardening
ansible/roles/virtualbox
ansible/roles/docker
ansible/roles/clamav
ansible/roles/fstab
ansible/roles/slack
ansible/roles/sysdig
ansible/roles/vagrant
ansible/roles/packer
ansible/roles/sublime
packer_cache/*
*.box
iso/*
http/preseed.cfg
.vagrant/*
